<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script>
      var status = "<%- JSON.stringify(status) %>";
      console.log(status, "status is here ");
      if (JSON.parse(status) == "verified") {
        console.log("here");
        if (window.confirm("Do you want to login ?")) {
          window.location.href = "http://localhost:3000/";
        }
      }
    </script>
  </head>
  <body>
    <h1>Forgot Password</h1>

    <h3>Email - <%= email %></h3>

    <form action="" method="post">
      <input
        type="password"
        name="password"
        placeholder="Enter new password"
        id="password"
      /><br />
      <input
        type="password"
        name="confirm-password"
        id="confirm-password"
        placeholder="Confirm new password"
      />
      <br />
      <input type="submit" value=" Reset Password" />
    </form>
  </body>
</html>
